@using AspNet.Security.OpenIdConnect.Primitives
@using Nancy.ViewEngines.Razor
@using Nancy.Server.Models

@inherits NancyRazorViewBase<Tuple<OpenIdConnectRequest, Application>>

<div class="jumbotron">
    <h1>Authorization</h1>

    <p class="lead text-left">Do you wanna grant <strong>@Model.Item2.DisplayName</strong> an access to your resources? (scopes requested: @Model.Item1.Scope)</p>

    <form enctype="application/x-www-form-urlencoded" method="post">
        @Html.AntiForgeryToken()

        @foreach (var parameter in Model.Item1.GetParameters()) {
            <input type="hidden" name="@parameter.Key" value="@parameter.Value" />
        }

        <input formaction="/connect/authorize/accept" class="btn btn-lg btn-success" name="Authorize" type="submit" value="Yeah, sure" />
        <input formaction="/connect/authorize/deny" class="btn btn-lg btn-danger" name="Deny" type="submit" value="Hell, no" />
    </form>
</div>
